
        
        h1 {
            color: rgb(230, 23, 230);
        }  
       
           img {
             Margin:10px;
             Float:left;
           
            
        }



          
       body {
            background-color: rgb(214, 214, 214);
        }
            
      div{
            Width:1024px;
           Margin-left:auto;
           Margin-right:auto;

}